.navbar {
  background-color: #fff;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  border-color: #e5e7eb;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  padding-left: 100px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.nav-item {
  display: inline;
  margin-right: 10px;
  cursor: pointer;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

.right-items {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-right: auto;
  margin-left: 650px; /* Adjust the margin as needed */
}

.right-items .nav-item {
  margin-left: 10px;
}

.right-items .nav-item:first-child {
  margin-left: auto;
}

.navbar .nav-item.cart svg {
  height: auto;
  width: 20px;
}

/* Styles for the "Home" text */
.center-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  position: relative;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
  padding-top: 10px;
}

/* Add a full-width horizontal line before the "Home" text */
.center-text::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px; /* Adjust the thickness of the line */
  background-color: #ccc; /* Adjust the color of the line */
}

.product-search {
  padding: 1rem;
  border: 2px solid black;
  border-radius: 0.5rem;
  width: 20rem;
  margin-bottom: 1rem;
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  box-sizing: border-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
